{% extends 'datashow/base.html' %}
{% block content%}
    <h4>CWE Tracer Data Repository</h4>
    <p>Resevoir of tracer data, access data or upload your own to add to the repository!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Sed ac quam euismod, scelerisque mauris ac, ultricies lectus. Nullam semper, quam ut scelerisque semper, mauris mauris ultricies eros, sed aliquam quam quam nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque sed enim sapien. Donec semper, velit ac luctus tristique, arcu mauris semper lectus, eu scelerisque enim mauris nec quam. Suspendisse potenti.</p>
{% endblock content%}