{% extends 'datashow/base.html' %}
{% load static %}

{% block content %}

<div class="container explore">
    <section id="display-filters">
        <div class="alert alert-info" role="alert">
            Not all the values below are available for each experimental dataset. Only values that match the search criteria are displayed.
        </div>
        
        <div class="row maps-and-curves exp-filters">
            {% include 'datashow/forms/search_data.html' %}
        </div>
    </section>
</div>

{% endblock content %}
