{% extends 'datashow/base.html'%}
{% load static %}
{% block content%}

    <section id="title">
        <div class="row cta-hero">
            <div class="row cta">
                {% comment %} <h1>River Solute Project Overview.</h1> {% endcomment %}
                <h1>Centuries of Solute Tracer Data</h1>
                <button onclick=handleBtns('explore') type="button" class="btn btn-dark btn-lg explore-btn">Explore The Data</button>
                <button onclick=handleBtns('upload') type="button" class="btn btn-outline-light btn-lg upload-btn">Submit Data</butoon>
            </div>
            <div class="row hero-image">
                <img src="{% static 'datashow/images/river1.jpg' %}" alt="river">
            </div>
        </div>
    </section>


    {% comment %} map and btc of current location  {% endcomment %}
    <section id="map" style="margin-bottom: 10%">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div id="mapid"></div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div id="btc"></div>
            </div>
        </div>
    </section>

    <!-- Documentation -->
    <section id="tech-doc">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <h2>Technical Documentation</h2>
                <p>Here you can find the technical documentation for the River Solute Project. This includes the
                    protocols for sample collection, sample processing,
                    and data analysis. The protocols are written in a way that is easy to follow and can be used by
                    anyone interested in collecting data for the River Solute Project.</p>
                <a>Download Technical Documentation</a>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 tech-doc">
                <img src="{% static 'datashow/images/river2.jpg' %}" alt="river">
            </div>
        </div>
    </section>

{% endblock content %}