{% extends 'datashow/base.html' %}
{% load static %}

{% block content %}
    {% if btc_data.time and btc_data.concentration %}
        <h1 style="margin: 20px">{{ river_name }}</h1>

        <svg id="{{ river_name }}"></svg>

        <script>
            // Set the dimensions and margins of the chart
            const margin = { top: 20, right: 20, bottom: 30, left: 50 };
            const width = 600 - margin.left - margin.right;
            const height = 400 - margin.top - margin.bottom;

            // Create an SVG container
            const svg = d3.select("#{{ river_name }}")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);

            // Access time and concentration directly from the btcs dictionary
            const time = {{ btc_data.time|safe }};
            const concentration = {{ btc_data.concentration|safe }};

            // Filter out NaN values
            const filteredData = time.map((t, i) => {
                const c = concentration[i];
                return { time: isNaN(t) ? 0 : t, concentration: isNaN(c) ? 0 : c };
            });

            // Create scales for x and y axes
            const xScale = d3.scaleLinear()
                .domain(d3.extent(filteredData, d => d.time))
                .range([0, width]);

            const yScale = d3.scaleLinear()
                .domain([0, d3.max(filteredData, d => d.concentration)])
                .range([height, 0]);

            // Create the line generator
            const line = d3.line()
                .x(d => xScale(d.time))
                .y(d => yScale(d.concentration));

            // Draw the line chart
            svg.append("path")
                .datum(filteredData)
                .attr("fill", "none")
                .attr("stroke", "steelblue")
                .attr("stroke-width", 1.5)
                .attr("d", line);

            // Add x and y axes
            svg.append("g")
                {% comment %} .attr("transform", `translate(0, ${height})`) {% endcomment %}
                .attr("transform", `translate(${margin.left}, 0`)
                .call(d3.axisBottom(xScale));

            svg.append("g")
                .call(d3.axisLeft(yScale));
            console.log(filteredData)
        </script>

    {% else %}
        <h1>No data, my boy. Go back and look</h1>
    {% endif %}
{% endblock content %}
