{% extends 'datashow/base.html'%}
{% load static %}

{% block content %}
{% comment %} form for data submission {% endcomment %}

    <div class="container submit-data">
        <h1>Submit Data</h1><br>


        <form action="/submit" method="post" id="submission-boxes">
            {% csrf_token %}
            <div class="boxes">
              <div id="units"> 
                <label for="units">Units: </label>
                <select name="units" id="units">
                  <option value="metric">Metric</option>
                  <option value="english">US</option>
                </select>
              </div>
                <div>
                  <label for="river-surveyed">River Surveyed: </label>
                  <input type="text" id="river-surveyed" name="river-surveyed" size="medium">
                </div>
                <div>
                  <label for="channel-width">Channel Width (ft): </label>
                  <input type="number" id="channel-width" name="channel-width" size="medium">
                </div>
                <div>
                  <label for="channel-depth">Channel Depth (ft): </label>
                  <input type="number" id="channel-depth" name="channel-depth" size="medium">
                </div>
                <div>
                  <label for="channel-cross-sectional-area">Channel Cross Sectional Area: </label>
                  <input type="number" id="channel-cross-sectional-area" name="channel-cross-sectional-area" size="medium">
                </div>
                <div>
                  <label for="distance-from-tracer-injection">Distance from Tracer Injection: </label>
                  <input type="number" id="distance-from-tracer-injection" name="distance-from-tracer-injection" size="medium">
                </div>
                <div>
                  <label for="flow-rate">Flow Rate: </label>
                  <input type="number" id="flow-rate" name="flow-rate" size="medium">
                </div>
                <div>
                  <label for="flow-velocity">Flow Velocity: </label>
                  <input type="number" id="flow-velocity" name="flow-velocity" size="medium">
                </div>
                <div>
                  <label for="shear-velocity">Shear Velocity: </label>
                  <input type="number" id="shear-velocity" name="shear-velocity" size="medium">
                </div>
                <div>
                  <label for="type-of-tracer">Type of Tracer: </label>
                  <input type="text" id="type-of-tracer" name="type-of-tracer" size="medium">
                </div>
                <div>
                  <label for="river-order">River Order: </label>
                  <input type="number" id="river-order" name="river-order" size="medium">
                </div>
                <div>
                  <label for="bed-slope">Bed Slope: </label>
                  <input type="number" id="bed-slope" name="bed-slope" size="medium">
                </div>
                <div>
                  <label for="bed-material">Bed Material: </label>
                  <input type="text" id="bed-material" name="bed-material" size="medium">
                </div>
                <div>
                  <label for="thickness-of-bed-material">Thickness of Bed Material: </label>
                  <input type="number" id="thickness-of-bed-material" name="thickness-of-bed-material" size="medium">
                </div>
                <div>
                  <label for="mannings-n">Manning's n: </label>
                  <input type="number" id="mannings-n" name="mannings-n" size="medium">
                </div>

            </div>
            {% comment %} <input type="submit" value="Submit"> {% endcomment %}
        </form>

        <div class="alert alert-warning">
            <strong>Warning!</strong> 
            <p>Your data file must be in .csv or excel format</p>
            <p>Your file must have the following columns: <strong>Time, Observerd Concentration, Conservative Concentration, Discharged Adjusted Concentration</strong></p>
        </div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group upload-form">
                    <label for="file">Upload File:</label>
                    <input type="file" name="file" id="file" accept=".csv, application/vnd.ms-excel">
                    </div>
                <div class="form-group">
                <input type="submit" value="Submit">
                </div>
            </form>
        </div>
{% endblock%}